<html>
  <head>
    <title><%=locals.title%></title>
  </head>
  <body>
    <h1>Contact List</h1>
    <div>
      <ul>
        <%for(let i of Contact_list){%>
        <li>
          <p><%=i.name%></p>
          <p><%=i.phone%></p>
        </li>
        <%}%>
      </ul>
    </div>

    <!-- create a form -->
    <form action="/create-contact" method="POST">
      <input type="text" name="name" placeholder="name" required />
      <input type="number" name="phone" placeholder="phone" />
      <button type="submit">Add contact</button>
    </form>
  </body>
</html>
